{% extends 'base.html' %}

{% block title %}Востребованность профессии{% endblock %}

{% block content %}
{% for content in contents%}
    <h1>{{ content.title }}</h1>
    <div class="content_container">
        {{ content.html_content|safe }}
    </div>
{% endfor%}

{% for report in reports %}
    <h2>{{ report.title }}</h2>
    <div class="chart_container">
        <img src="{{ report.chart.url }}" alt="{{ report.title }}">
        <div>{{ report.table_html|safe }}</div>
    </div>
{% endfor %}
{% endblock %}